<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109213424634-4rtaevn1rvrfej8e7o3bn3g0q4a69nf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109213424634-4rtaevn1rvrfej8e7o3bn3g0q4a69nf6</string>
	<key>API_KEY</key>
	<string>AIzaSyAAotaXKD4ELn7c6pVuspcGFzWWwgQ442o</string>
	<key>GCM_SENDER_ID</key>
	<string>109213424634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wecreate.beautyapp</string>
	<key>PROJECT_ID</key>
	<string>standardbeauty-4c480</string>
	<key>STORAGE_BUCKET</key>
	<string>standardbeauty-4c480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109213424634:ios:ccd6a9b0414acc49abe243</string>
</dict>
</plist>